<div class="container mt-4">
  <div class="row">
    <div class="col text-center">
        <img src="img/noel.jpg" class="img-thumbnail rounded-circle" alt="NOEL DAAAA" width="200" height="200">
      <h1 class="display-4">RAJA IBLIS</h1>
      <p class="lead">Pelajar | No-life for life</p>
    </div>
  </div>
</div>
